.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 80vh;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  aspect-ratio: 1/1;
  width: 100%;
}

.btn-see-details {
  transform: translateY(-3.5rem);
  background-color: #ed6b3b;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  outline: none;
  border: none;
}

@media only screen and (min-width: 445px) {
  .swiper-slide {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    width: 500px;
    height: 450px;
  }

  .swiper-slide img {
    object-fit: cover;
  }
}
