@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f6f3f8;
}

:root {
  --navbar-icon-color: #a7a7a7;
  --navbar-link-color: #7e7d7f;
  --orange: #ed6b3b;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.max-content-flex {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.section {
  padding-top: 80px;
}

.profile-photo {
  aspect-ratio: 1 / 1;
  width: 2rem;
  border-radius: 50%;
}

.mob-profile-photo {
  width: 4rem;
}

.mob-username {
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
}

.active {
  font-family: 'Roboto', sans-serif;
}

.divider {
  opacity: 0.3;
  width: 70%;
  margin: 3rem 0 1rem 0;
}

.caroselImage {
  width: 100%;
}

.btn-default {
  background-color: var(--orange);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  border: 0;
}

.btn-default:focus {
  background-color: #d5582a;
}

.empty-list {
  width: 100%;
  min-height: 350px;
  text-align: center;
}

.add-favorite {
  padding: 1rem;
}

.add-house-section {
  background: url(./assets/images.jpeg) no-repeat;
  background-size: cover;
}

.backdrop {
  background-color: #ffffffb5;
  backdrop-filter: blur(1px);
  min-height: 100vh;
  text-align: center;
}

.backdrop p {
  width: 50%;
  font-weight: 300;
  font-size: 0.8rem;
}

form {
  margin: 2rem;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.input-text,
.input-textarea {
  border: 1px solid rgba(0, 0, 0, 0.359);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  width: 50%;
  background-color: transparent;
  outline-color: var(--orange);
  font-weight: 500;
}

.input-textarea {
  border-radius: 0.5rem;
  height: 7rem;
}

.btn {
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1.3rem;
  background-color: #ec6232;
  outline: none;
  font-weight: 500;
  color: #f6f3f8;
  box-shadow: -1px -1px 53px 0 #ed6b3b;
  -webkit-box-shadow: -1px -1px 53px 0 #ed6b3b;
  -moz-box-shadow: -1px -1px 53px 0 #ed6b3b;
}

.btn:active {
  background-color: #e95321;
}

.btn:is(:hover, :active) {
  transform: scale(1.1);
  background-color: #ec6232;
  box-shadow: -1px -1px 53px 0 #ed6b3b;
  -webkit-box-shadow: -1px -1px 53px 0 #ed6b3b;
  -moz-box-shadow: -1px -1px 53px 0 #ed6b3b;
}

.flash-message {
  color: #d5582a;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 764px) {
  .desktop-only {
    display: none;
  }
}
