@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #373737;
  background-color: #b9b6b6;
}

.container {
  max-width: 768px !important;
  padding: 0 !important;
}

.slack {
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 400px;
  background: url("./assets/head_image.jpg") bottom center no-repeat;
  padding: 30px;

  &-content {
    width: 215px;
    color: #fff;

    &__title {
      font-size: 22px;
      font-weight: 700;
      text-shadow: 1px 2px 2px rgba($color: #000, $alpha: 0.6);
    }

    &__desc {
      font-weight: 100;
      text-shadow: 0 1px 1px rgba($color: #000, $alpha: 0.4);
    }
  }
}

.logo {
  width: 150px;
}

.about-section {
  padding: 30px;
  background-color: #fff;

  &__sub {
    text-transform: uppercase;
    color: #b9b6b6;
    text-align: center;
    font-size: 13px;
  }

  &__primary,
  &__left-title {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
  }

  &__left-title {
    text-align: left;
  }

  &__desc {
    font-weight: 100;
    font-size: 14px;
    color: #000;
  }
}

.feature-section {
  background-color: #e8f0ff;
}

.footer {
  color: #b9b6b6;
  text-align: center;
  font-size: small;
}

.btn-oval {
  border-radius: 20px !important;
  background-color: #ea531c !important;
  border-color: #ea531c !important;
  color: #fff !important;
}

.btn-menu {
  border-radius: 35px !important;
  background-color: #787877 !important;
  border-color: #787877 !important;
  color: #fff !important;
  padding: 5px 8px;
}

.white {
  color: #fff !important;
}

.login-box {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login-box::after {
  content: "";
  background: url("./assets/head_image.jpg") bottom center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.form-control {
  border-radius: 20px !important;
  padding: 5px 10px;
}

.modal-popup {
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
