
.header {
    width: 100%;

    background: url("./assets/modern-residential-district-with-green-roof-balcony-generated-by-ai_188544-10276.avif") bottom center no-repeat;
    padding: 30px;
  
    &-content {
      width: 215px;
      color: #fff;
  
      &__title {
        font-size: 22px;
        font-weight: 700;
        text-shadow: 1px 2px 2px rgba($color: #000, $alpha: 0.6);
      }
  
      &__desc {
        font-weight: 100;
        text-shadow: 0 1px 1px rgba($color: #000, $alpha: 0.4);
      }
    }
  }
  .btn-oval {
    border-radius: 20px !important;
    background-color: #ea531c !important;
    border-color: #ea531c !important;
    color: #fff !important;
  }