@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --navbar-icon-color: #a7a7a7;
  --navbar-link-color: #7e7d7f;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar,
.seacrh-bar,
.profile-details {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #fff;
  color: var(--navbar-icon-color);
  justify-content: space-between;
  padding: 0.9rem 1.9rem 0.9rem 0;
}

.seacrh-bar {
  justify-content: space-between;
  border: 1px solid var(--navbar-icon-color);
  border-radius: 1rem;
  padding: 5px 10px;
}

.seacrh-bar input {
  outline: none;
  border-color: transparent;
  margin-left: 10px;
}

.profile-details {
  gap: 0.8rem;
}

.profile-details p {
  color: var(--navbar-link-color);
  font-weight: bolder;
}

.profile-photo {
  aspect-ratio: 1 / 1;
  width: 2rem;
  border-radius: 50%;
}

.hamburger {
  position: relative;
}

.hamburger-react {
  z-index: 3;
}

.navlinks {
  display: none;
  flex-direction: column;
  padding: 12rem 3rem;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  color: var(--navbar-link-color);
  font-size: 1.5rem;
}

.Open {
  display: flex;
  width: 25rem;
}
