.navbar-landing {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background-color: transparent;
  color: #fff;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.hamburger-landing {
  display: block;
}

.hamburger-react {
  z-index: 10;
}

.navlinks-landing {
  opacity: 0;
  padding: 8rem 3rem;
  position: fixed;
  background-color: #ed6a3ba2;
  backdrop-filter: blur(2px);
  top: 0;
  right: 0;
  height: 100vh;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.navlinks-landing a {
  margin: 0.5rem 0;
  color: #fff;
  font-weight: 500;
}

.Open {
  flex-direction: column;
  opacity: 1;
  width: 25rem;
}

.top-section {
  color: #e8f0ff;
  font-weight: 500;
  height: 400px;
  background: url("./assets/background.jpeg") center no-repeat;
  background-size: cover;
}

.logo {
  width: 30px;
  aspect-ratio: 1/1;
}

.desktop-links {
  display: none;
}

.logo-block {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.header {
  padding-top: 1rem;
  backdrop-filter: blur(2px);
}

.top-content {
  margin: 5%;
}

.top-content p {
  margin: 0.5rem 0 2rem 0;
  width: 50%;
}

.about-section {
  display: flex;
  gap: 2rem;
  padding: 5% 15%;
  background-color: #e8f0ff;
  flex-direction: column;
}

.about-section-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-section-details img {
  max-width: 300px;
  aspect-ratio: 1/1;
}

.about-section-details h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.about-section-details p {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  color: #00000086;
}

.about-section-details button {
  text-transform: uppercase;
  align-self: center;
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-weight: 400;
  font-size: 0.8rem;
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  color: #b9b6b6;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.footer .logo-block {
  color: black;
  align-self: center;
}

.social-icons {
  display: flex;
  gap: 1rem;
  align-self: center;
}

.social-icons a {
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  font-size: 1rem;
  align-items: center;
}

.social-icons a:nth-child(1) {
  padding: 1rem 1.3rem;
  background-color: rgb(51, 85, 151);
}

.social-icons a:nth-child(2) {
  background-color: rgb(78, 172, 235);
}

.social-icons a:nth-child(3) {
  background-color: rgb(49, 113, 154);
}

@media only screen and (min-width: 768px) {
  .hamburger-landing {
    display: none;
  }

  .navbar-landing {
    padding: 0 2.5rem;
  }

  .logo {
    width: 50px;
  }

  .logo-block {
    font-size: 1.8rem;
  }

  .desktop-links {
    font-weight: 400 !important;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .desktop-links a:nth-child(2) {
    background-color: #7e7d7fa6;
    border-radius: 1.9rem;
    padding: 0.3rem 0.9em;
  }

  .about-section {
    flex-direction: row;
    gap: 5rem;
    padding: 5% 15%;
  }

  .about-section-details h4,
  .about-section-details p {
    text-align: start;
  }

  .about-section-details button {
    padding: 1rem 4rem;
    border-radius: 4rem;
    font-weight: 400;
    font-size: 1rem;
    align-self: flex-start;
  }

  .about-section-details img {
    max-width: 500px;
    aspect-ratio: 1/1;
  }
}
